---
import BaseLayout from '@layouts/Base.astro';
import Card from '@components/Block/Card.astro';
import { getPageByUID, getAllProjects } from '@src/prismic';
import { generateFrontmatter } from '@utils/frontmatter';
import SliceLibrary from '@components/Prismic/SliceLibrary.astro';

const page = await getPageByUID('projects', 'page');
const frontmatter = generateFrontmatter(page, 'Table');

const projects = await getAllProjects().then((response) => response.results);
---

<BaseLayout frontmatter={frontmatter} url={Astro.url}>
	<SliceLibrary slices={page.data.slices} />

	<section class="projects">
		{
			projects.map((project) => {
				return (
					<Card
						heading={project.data.title}
						summary={project.data.summary}
						uri={`projects/${project.uid}`}
						tag={project.tags[0]}
						icon={project.tags[0]}
					/>
				);
			})
		}
	</section>
</BaseLayout>

<style>
	.projects {
		display: grid;
		grid-template-columns: 1fr;
		gap: var(--gap);
		margin-top: var(--gap);
	}

	@media (--vp-md) {
		.projects {
			gap: var(--gap-lg);
			grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		}
	}
</style>
