---
import BaseLayout from '@layouts/Base.astro';
import { env } from '@src/env.config';
import { getPageByUID, getAllTools } from '@src/prismic';
import { generateFrontmatter } from '@utils/frontmatter';
import SliceLibrary from '@components/Prismic/SliceLibrary.astro';

const page = await getPageByUID('tools', 'page');
const frontmatter = generateFrontmatter(page, 'Table');

const tools = await getAllTools().then((response) => response.results);
---

<BaseLayout frontmatter={frontmatter} url={Astro.url}>
	<SliceLibrary slices={page.data.slices} />

	<ol class="tools">
		{
			tools.map((tool) => (
				<li class="tool">
					<span class="tool-heading">{tool.data.title}</span>
					<a href={new URL(`tools/${tool.uid}`, env.BASE_URL).href} class="tool-anchor">
						{tool.data.title}
					</a>
					<p class="tool-summary">{tool.data.summary}</p>
				</li>
			))
		}
	</ol>
</BaseLayout>

<style>
	.tools {
		display: grid;
		grid-template-columns: 1fr;
		list-style-type: none;
		margin: 0;
		padding: 0;
		gap: var(--gap);
		margin: var(--gap) 0;
	}

	.tool {
		position: relative;
		anchor-name: --tool-anchor;
		padding: var(--gap-lg);
		background-color: light-dark(var(--surface-i-4), var(--surface-1));
		border-radius: var(--border-radius);
		border: calc(var(--border-width) * 2) solid var(--border-color);
		box-shadow: 0.15rem 0.15rem 0.4rem light-dark(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.5));
		transition:
			box-shadow var(--transition-duration) ease,
			transform var(--transition-duration) ease,
			border-color var(--transition-duration) ease;
	}

	.tool-heading {
		display: block;
		color: var(--primary);
		font-weight: 600;
		font-size: large;
		margin-bottom: var(--gap-sm);
	}

	.tool-anchor {
		position: absolute;
		position-anchor: --tool-anchor;
		top: 0px;
		left: 0px;
		right: anchor(--tool-anchor right);
		bottom: anchor(--tool-anchor bottom);
		margin: 0px;
		width: 100%;
		height: 100%;
		color: transparent;
		overflow: hidden;
		white-space: nowrap;
		z-index: 1;
		border: calc(var(--border-width) * 2) solid transparent;
		border-radius: var(--border-radius);
	}

	.tool:has(.tool-anchor:hover),
	.tool:has(.tool-anchor:focus) {
		box-shadow: 0.2rem 0.4rem 1rem light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
		transform: translateY(-2px);
		border-color: var(--accent);
	}

	.tool-summary {
		margin-bottom: 0;
	}

	@media (--vp-md) {
		.tools {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media (--vp-lg) {
		.tools {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
</style>
